.env
index.php
errors/automation/SolicitacaoSaqueBon/*
errors/financeiro/*
public/

# Permitir que as pastas sejam enviadas sem arquivos
!errors/automation/SolicitacaoSaqueBon/.gitkeep
!errors/financeiro/.gitkeep